@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Common Reusable CSS Styles is Here */
.poppins-influence {
  font-family: "Poppins", sans-serif;
  font-weight: weight;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Container setup fot the full page! */
.container {
  max-width: 1920px;
  width: 80%;
  margin: 0 auto;
  padding: 3.12rem 0;
}

/* Navbar Style is Start Here! */
.menu-section {
  display: flex;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Navbar Logo Style is Here */
.logo-title {
  color: rgb(58, 58, 58);
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem;
  text-align: left;
}
.menu-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 2.12rem;
}
.menu-items {
  list-style: none;
}
.menu-items a {
  text-decoration: none;
  color: rgb(58, 58, 58);
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  text-align: left;
}
/* !Navbar Style is End Here!  */

/* Media Queries for responsiveness! */
